# Binaries for programs and plugins
*.exe
*.ex~
*.dll
*.so
*.dylib
*.bench

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Folders
_obj

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

.vs/
.vscode/

content/*.json
*.xlsx
*.xlsm
*/*.xlsx

*/__debug_bin
*.sum
*.png
*.jpg
bin/*

goloveu

