###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto


###############################################################################
# Set Project Language
###############################################################################
*.html linguist-language=C#
